#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details

export DISCORD_BOT_TOKEN_FILE="$(pwd)/secrets/discord-bot-token"
export MYSQL_HOST=localhost:30202
export MYSQL_USER=admin
export MYSQL_PASSWORD=password
export MYSQL_DATABASE=larpm
